.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.font-style(@font-size, @line-height, @font-weight, @color) {
    font-size: @font-size;
    line-height: @line-height;
    font-weight: @font-weight;
    color: @color;
}

.container {
    width: 260px;
    margin: 0 auto;
    @media (@tablet-width) {
        width: 668px;
    }
    @media (@desktop-width) {
        width: 1050px;
    }
}