html {
    box-sizing: border-box;
  }
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  body {
    margin: 0;
  }
  
  
  button, input, optgroup, select, textarea {
      font: inherit;
      margin: 0;
  }

h1 {
    font-size: 27px;
    line-height: 30px;
}

@media @tablet {
    h1 {
        font-size: 43px;
        line-height: 50px;
    }
}

@media @desktop {
    h1 {
        font-size: 53px;
        line-height: 57px;
    }
}