@blue: #283645;
@white: #ffffff;
@grey: #444444;
@ligth-grey: #8d8d8d;
@dark-grey: #e5e5e5;
@pink: #d22856;
@ligth-green: #63d1bb;
@green: #56c3b2;
@dark-green: #1c9b5e;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1250px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";