@import '../variables.less';
@import '../mixins.less';

.catalog-item {
  min-height: 374px;
}

.catalog-item__foto img {
  display: block;
}

.catalog-item__info {
  min-height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 28px 12px;
  box-sizing: border-box;
  border: @border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__info-title {
  margin-bottom: 11px;
  .font-style(17px, 24px, 700, #000000);

  &:hover {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.catalog-item__info-description {
  margin-bottom: 9px;
  .font-style(13px, 30px, 400, @text-color);
}

.catalog-item__info-order {
  display: flex;
  width: 100%;
  min-height: 59px;
  justify-content: space-between;
  align-items: center;
  .font-style(15px, 24px, 700, #000000);
  border-top: @border;
}

.catalog-item__info-order-price {
  margin: 0;
}

.catalog-item__info-order-link {

  svg {
    vertical-align: text-top;
    fill: #d3d2d2;

    &:hover {
      fill: #63d1bb;
    }

    &:active {
      fill: #d0f1ea;
    }
  }
}



@media (@tablet-width) {

  .catalog-item {
    display: flex;
    min-height: 334px;
  }

  .catalog-item__foto {
    width: 333px;
  }

  .catalog-item__info {
    width: 50%;
    padding-bottom: 26px;
  }

  .catalog-item__info-title {
    font-size: 20px;
  }

  .catalog-item__info-description {
    margin: 0;
    font-size: 15px;
  }

  .catalog-item__info-order {
    font-size: 17px;
  }

  .catalog-item__info-order-price,
  .catalog-item__info-order-link {
    padding-top: 22px;
  }
}



@media (@desktop-width) {

  .catalog-item {
    width: 316px;
    flex-wrap: wrap;
    flex-direction: column;

    &:nth-child(n+4) {
      margin-top: 50px;
    }
  }

  .catalog-item__foto {
    width: 316px;
    height: 462px;
  }

  .catalog-item__info {
    width: 316px;
    min-height: 197px;
    padding: 23px 28px 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog-item__info-description {
    margin: 0;
    padding-bottom: 25px;

    &--big-cart {
      padding-bottom: 0;
    }
  }

  .catalog-item__info-text {
    margin-bottom: 17px;
  }
}
