.catalog {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

@media @mobile {
  .catalog {
    margin-left: 30px;
    margin-right: 30px;
  }

  .catalog__item {
    margin: 30px auto 0;
  }
}

@media @tablet {
  .catalog {
    margin-left: 50px;
    margin-right: 50px;
  }

  .catalog__item {
    margin-top: 60px;
  }
}

@media @desktop {
  .catalog__item {
    margin-top: 120px;
  }
}
