@import '../variables.less';
@import '../mixins.less';

.category {
  width: 100%;
}

.category__list {
  min-height: 103px;
}

.category__list-item {
  background: @color-green;

  &:hover {
    background: #59d5bc;
  }

  &:active {
    background: #59d5bc;
  }
}

.category__list-item:last-child {
  background: #56c3b2;

  &:hover {
    background: #46c1ae;
  }

  &:active {
    background: #46c1ae;
  }
}

.category__list-item-info {
  display: flex;
  width: 100%;
  height: 100%;
  .container;
  justify-content: space-between;
  .font-style(19px, 24px, 700, #ffffff);

  &:active {
    opacity: 0.3;
  }
}

.category__list-item-info-title {
  width: 60%;
  margin: 0;
  padding: 28px 0;
}

.category__list-item-info-icon {
  align-self: center;

  &--chandelier{
  fill: #3bb09d;

    &:hover {
      fill: #29a592;
    }

    &:active {
      fill: #44c0aa;
    }
  }

  &--toy {
  fill: #35a999;

    &:hover {
      fill: #239f8e;
    }

    &:active {
      fill: #37b2a0;
    }
  }
}



@media @tablet {

  .category {
    position: relative;
    z-index: 3;

    margin-top: -118px;
  }

  .category::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 15px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
    background-size: auto 23px;
    z-index: 4;
  }


  .category__list {
    display: flex;
    flex-wrap: wrap;
    min-height: 119px;
    .container;
  }

  .category__list-item {
    display: flex;
    width: 50%;

    &:hover {
      margin-top: -5px;
    }
  }

  .category__list-item-info {
    width: 80%;
    align-self: center;
    font-size: 20px;
    line-height: 30px;

    &:hover {
    transform: translateY(-5px);
    }
  }
}



@media @desktop {

  .category::after {
    margin-top: -113px;
    bottom: -3px;
  }

  .category__list-item-info-title {
    width: 39%;
  }

}
