.contacts {
  position: relative;

  margin: 30px;
  @media @tablet-width {
    display: flex;
    flex-direction: column;

    margin: 30px 50px;
    

    justify-content: center;
  }
  @media @desktop-width {
    flex-flow: row wrap;
    margin-top: 200px;
  }
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  @media @tablet-width {
    font-size: 43px;
    line-height: 50px;
  }
  @media @desktop-width {
    width: 34%;

    font-size: 53px;
    line-height: 57px;
    content: "";
    position: absolute;
    top: -95px;
    left:175px;
  }
}

.contacts__tagline--hidden {
  .visually-hidden();
}

.contacts__items {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  color: @ligth-grey;

  .list-reset();
  @media @tablet-width {
    display: flex;
  }
  @media @desktop-width {
    flex-direction: column;

    width: 350px;
    height: 313px;
    margin-right: 33%;

    font-size: 18px;
    line-height: 30px;

    align-self: flex-end;
  }
}

.contacts__item {
  display: flex;

  font-size: 15px;
  line-height: 30px;
  &:nth-child(2) {
    .contacts__text {
      width: 141px;
    }
  }
  @media @tablet-width {
    width: 50%;

    font-size: 18px;
    line-height: 30px;
    &:nth-child(2) {
      .contacts__text {
        width: 224px;
      }
    }
  }
  @media @desktop-width{
    width: 87%;
  }
}

.contacts__subtitle {
  margin-right: 20px;

  font-weight: 400;
  @media @desktop-width{
    width: 40%;
  }
}


.contacts__link {
  text-decoration: none;

  color: @ligth-grey;
  border-bottom: 1px solid @ligth-green;
}

.contacts__items:last-child {
  background: red;
}

.contacts__btn {
  margin-top: 495px;
  @media @tablet-width {
    width: 230px;

    align-self: center;
  }
  @media @desktop-width {
    content: "";
    position: absolute;
    top:-75%;
    left: 180px;
  }
}

.contacts__map {
  position: absolute;
  left: -30px;

  width: 320px;
  @media @tablet-width {
    top: 240px;
    left: -50px;

    width: 768px;
  }
  @media @desktop-width {
    top: -46%;
    left: 50%;

    width: 525px;
    height: 460px;
  }
}
