@import '../variables.less';
@import '../mixins.less';

.copyright {
  display: flex;
  .container;
  padding-top: 14px;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
  .font-style(19px, 18px, 700, #000000);
  border-top: 1px solid #e5e5e5;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  padding-left: 30px;
}

.copyright__logo svg {
  width: 27px;
  height: 34px;
  fill: @color-green;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}



@media @tablet {

  .copyright {
    width: 220px;
    padding: 0;
    justify-content: flex-end;
    flex-grow: 1;
    border: none;
  }
}



@media @desktop {

  .copyright {
    width: 350px;
    padding: 51px 0 51px;
  }
}
