.copyright {
  display: flex;

  width: 260px;
  height: 80px;

  border-top: 1px solid @ligth-grey;

  align-content: center;
  justify-content: space-around;
  margin:auto;
  @media @tablet-width {
    margin: 0;
    width:180px;
  }
}

.copyright__text {
  display: flex;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  color: #000;

  justify-content: center;
  // align-items: flex-start;
  align-self: center;
}

.copyright__link {
  margin-left: 15px;

  font-size: 0;
}
