.icon {
    min-width: 1em;
  }
  
  .icon {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    fill:#d3d2d2;
  }
  
//   .icon_user_search {
//     background-image: url("../../img/icon-search.svg");
//   }
//   .icon_user_cart {
//     background-image: url("../../img/icon-cart.svg");
//   }
  
  .icon:empty:after {
    visibility: hidden;
    content: '\00A0';
  }