  .main-nav {
  position: relative;
  z-index: 1;

  min-height: 76px;

  border-top: 1px solid #ececec;
  background: #fff;

  justify-content: center;

  @media @tablet-width {
    min-height: 79px;
    padding: 0rem 50px;

    justify-content: left;
  }
  @media @desktop-width {
    justify-content: center;
  }
}
.main-nav__title {
  .visually-hidden();
}

.main-nav__logo {
  content: "";
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 116px;

  width: 86px;
  height: 35px;

  background: url("../img/logo-mobile.svg") no-repeat;

  align-self: center;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media @tablet-width {
    top: 12px;
    left: 50px;

    width: 113px;
    height: 47px;

    background: url("../img/logo-tablet.svg") no-repeat;
  }
  @media @desktop-width {
    top: 0;
    left: 500px;

    width: 150px;
    height: 75px;

    background: url("../img/logo-desktop.svg") no-repeat;
  }
}

// базовые стили для переключателя.
.main-nav__toggle {
  content: "";
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 0;

  display: block;

  width: 80px;
  height: 56px;

  cursor: pointer;
  text-indent: -9999px;

  border: none;
  background-color: #fff;
  @media @tablet-width {
    .visually-hidden();
  }
}
/* Состояние закрытого переключателя. */

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 31px;

  width: 20px;
  height: 2px;

  border: none;
  background-color: #000;
  /* верхняя полоска у бургера */
  box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
  /* вторая и третья полоска у бургера */
}


// крестик
.main-nav--opened .main-nav__toggle {
  top: 4px;
  right: 0;
  &::before ,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 29px;

    width: 20px;
    height: 3px;

    background-color: #000;
  }
  &::before {
    transform: rotate(45deg);

    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed {
  .main-nav__items {
    display: none;
    @media @tablet-width {
      display: grid;
    }
  }
}

.main-nav__items {
  content: "";
  position: absolute;
  top: 60px;

  display: grid;
  // grid-auto-flow: column;/*задаем порядок расположения элементов*/

  width: 100%;

  background-color: #fff;

  grid-template-rows: repeat(4, 79px);
  .list-reset();
  @media @tablet-width {
    position: inherit;
    top: 0;

    height: 88px;

    background-color: transparent;

    grid-template-rows: none;
    grid-template-columns: repeat(2, minmax(161px, 1fr)) 1fr minmax(265px, auto);
    grid-template-rows: 88px 82px;
    &:nth-child(4) {
      order: 2;
    }
  }
  @media @desktop-width {
    grid-template-columns: repeat(2, minmax(184px, 1fr)) 1fr 1fr minmax(265px, auto);
  }
}

.main-nav__item {
  display: grid;

  //поиск по сайту
  &:nth-child(3) {
    & .main-nav__link {
      position: relative;
      & .icon-search {
        content: "";
        position: absolute;
        left: 31px;
        @media @tablet-width {
          top: 4px;
        }
      }
    }
  }
  //корзина
  &:nth-child(4) {
    @media @tablet-width {
      padding-right: 0;
    }
    & .main-nav__link {
      position: relative;
      & .icon-cart {
        content: "";
        position: absolute;
        left: 31px;

        @media @tablet-width {
          top: 4px;

          padding-right: 0;
        }
      }
    }
  }
  //новые поступления-5, распродажа-6 
  &:nth-child(5) ,
  &:nth-child(6) {
    height: 0;
    & .main-nav__link {
      height: 0;
      padding: 0;

      font-size: 0;
    }
  }
  //бесплатная доставка
  &:nth-child(7) {
    height: 0;

    font-size: 0;
    @media @tablet-width {
      padding-right: 0;
    }
  }
  @media @tablet-width {
    // каталог товаров
    &:nth-child(1) {
      padding-left: 0;

      grid-row-start: 2;
    } // вязание на заказ
    &:nth-child(2) {
      padding-left: 0;

      grid-row-start: 2;
      grid-column-start: 2;
    } //поиск по сайту
    &:nth-child(3) {
      width: 83px;

      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;

      grid-row-start: 1;
      grid-column-start: 3;
      & .main-nav__link {
        font-size: 0;

        background-position: center;
      }
    } //корзина
    &:nth-child(4) {
      grid-row-start: 1;
      grid-column-start: 4;
      & .main-nav__link {
        font-size: 17px;

        text-align: right;

        background-position: 13%;
      }
    } //новые поступления, распродажа 
    &:nth-child(5) ,
    &:nth-child(6) {
      height: 0;
      & .main-nav__link {
        height: 0;
        padding: 0;

        font-size: 0;
      }
    } //бесплатная доставка
    &:nth-child(7) {
      height: 100%;

      font-size: 15px;

      text-align: right;

      grid-row-start: 2;
      grid-column-start: 4;
      align-content: center;
    }
  }
  @media @desktop-width {
    // каталог товаров
    &:nth-child(1) {
      grid-row-start: 1;
      grid-column-start: 1;
      & .main-nav__link {
        font-size: 17px;
      }
    }
    // вязание на заказ
    &:nth-child(2) {
      grid-row-start: 1;
      grid-column-start: 2;
      & .main-nav__link {
        font-size: 17px;

        text-align: center;
      }
    }
    //поиск по сайту
    &:nth-child(3) {
      margin-left: 113px;

      grid-row-start: 1;
      grid-column-start: 4;
    }
    //корзина
    &:nth-child(4) {
      grid-row-start: 1;
      grid-column-start: 5;
      & .main-nav__link {
        font-size: 17px;

        text-align: right;
      }
    }
    //новые поступления
    &:nth-child(5) {
      height: 100%;

      grid-row-start: 2;
      grid-column-start: 1;
      align-content: center;
      & .main-nav__link {
        height: 100%;

        font-size: 15.3px;
      }
    }
    //распродажа
    &:nth-child(6) {
      height: 100%;

      grid-row-start: 2;
      grid-column-start: 2;
      align-content: center;
      & .main-nav__link {
        height: 100%;
        padding-left: 23px;

        font-size: 15px;
      }
    }
    //бесплатная доставка
    &:nth-child(7) {
      grid-row-start: 2;
      grid-column-start: 5;
    }
  }
}


.main-nav__link {
  padding: 27.5px 21px 27.5px;
  padding-left: 75px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  text-decoration: none;

  color: #000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 0 #ececec;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
  @media @tablet-width {
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;

    font-size: 15px;

    box-shadow: none;

    align-self: center;
  }
  @media @desktop-width {
    margin: 0;
  }
}

// use.icon-search ,
// use.icon-cart {
//   fill-opacity: 0.2;
//   &:hover {
//     fill-opacity: 1;
//     fill: #63d1bb;
//   }
//   &:active {
//     fill-opacity: 0.3;
//   }
// }

// svg path {
//   fill: inherit;
// }
