.page-header {
  background-color: #fff;
  @media @tablet-width {
    min-height: 88px;
    
    // margin: 0 50px;
  }
  @media @desktop-width {
    // margin: 0 100px;
    &--catalog ,
    &--form {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}

.page-header__title {
  .visually-hidden();
}
