.promo {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.promo__title {
  margin-bottom: 12px;

  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
}

.promo__type {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  color: @ligth-green;
}

.promo__descr {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 24px;

  color: @ligth-grey;
}
.promo__price {
	text-align: center;
  color: @ligth-grey;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.promo__btn {
	color: @ligth-grey;
}


