.reviews {
  @media @tablet-width {
    position: relative;

    margin-top: 15px;
    margin-bottom: 63px;
    padding-top: 78px;
    padding-bottom: 51px;

    grid-template-columns: 1fr 1fr 1fr 175px;
    grid-template-rows: auto 1fr;
    grid-row-gap: 47px;
    }
  
}

.reviews__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  @media @tablet-width {
    margin-top: 0;

    font-size: 43px;
    line-height: 50px;

    grid-column-start: 1;
    grid-column-end: 4;
  }
  @media @desktop-width {
    // margin-bottom: 40px;
    font-size: 53px;
    line-height: 57px;

    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
  }
}
.about__item {


 
  @media @desktop-width {
    margin: 0;
    padding: 0;

    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
  }
}
.reviews__item {
  display: grid;

  grid-template-rows: repeat(3, min-content);
}







