.slider-controls {
  display: flex;
  // font-size: 0;

  margin-bottom: 39px;
  @media @tablet-width {
    content:"";
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
  }
  @media @desktop-width {
    left:75%
  }
}
.slider-controls__btn {
  position: relative;

  display: inline-block;

  width: 130px;
  height: 51px;
  padding: 0;

  font-size: 0;

  border: 1px solid #ececec;
  background-color: @white;
  // полоска у стрелки
  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 43px;

    width: 45px;
    height: 4px;

    background-color: #000;
  }
  // наконечник у стрелки назад
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 42px;

    width: 15px;
    height: 15px;

    transform: rotate(135deg);

    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #000;
    background-color: transparent;
  }
  // наконечник у стрелки вперед
  &:last-child::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 67px;

    width: 15px;
    height: 15px;

    transform: rotate(-45deg);

    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #000;
    background-color: transparent;
  }
}
