.social {
  display: flex;

  height: 80px;

  align-content: center;
  justify-content: space-around;
}
.social__title--hidden {
  .visually-hidden();
}
.social__link {
  display: flex;

  width: 260px;
  // padding-bottom: 40px;

  justify-content: space-around;
  align-self: center;
  // font-size: 0;
}
