@import '../variables.less';

.social {
  display: flex;
  width: 144px;
  justify-content: space-between;
}

.social__btn {
  padding: 15px 0 28px;

  &--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
}

.social__btn-icon {

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}



@media @tablet {

  .social {
    border-bottom: none;
    padding: 0;

    &__btn {
      padding: 0;
    }
  }
}



@media @desktop {

  .social {
    border-bottom: none;
    padding: 51px 0 51px;


    &__btn {
      padding: 0;
    }
  }
}
