.text_size_p {
  font-size: 15px;
  line-height: 24px;

  @media @tablet {
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.text_size_price {

  font-size: 17px;
  line-height: 24px;

  @media @tablet {
    font-size: 20px;
    line-height: 24px;
  }

  @media @desktop {
    font-size: 20px;
    line-height: 24px;
  }
}


.text_size_blockquote {
  font-size: 15px;
  line-height: 30px;

  @media @tablet {
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.text_size_week-item {
  font-size: 15px;
  line-height: 24px;


  @media @tablet {
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.text_size_h1 {
  font-size: 27px;
  line-height: 30px;
}

@media @tablet {
  .text_size_h1 {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop {
  .text_size_h1 {
    font-size: 53px;
    line-height: 57px;
  }
}

.text_size_h2 {
  font-size: 25px;
  line-height: 30px;

  @media @tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.text_mt_0 {
  margin-top: 0;
}

.text_mb_0 {
  margin-bottom: 0;
}

.text_type_h2.text_mt_0 {
  margin-top: 0;
}

.text_type_h2.text_mb_0 {
  margin-bottom: 0;
}

.text_view_brand-mishka {
  color: #63d1bb;
}

.text_view_email {
  text-decoration: none;
  border-bottom: 1px solid @color-green;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @mobile {
  .text--hide-mobile {
    display: none;
  }
}

@media @tablet {
  .text--hide-tablet {
    font-size: 0;
  }
}

@media @desktop {
  .text--hide-desktop {
    font-size: 0;
  }
}

.text_weight_700 {
  font-weight: 700;
}
